.modal {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;

  & .container {
    width: 80%;
    height: 40vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background-color: rgb(243, 247, 251);
    border-radius: 15px;
    border: 1px solid rgb(200, 196, 196);

    & .closeButton {
      width: min-content;
      font-size: 1.5rem;
      padding: 11px 15px;
      border: solid 1px;
      border-radius: 20px;
      place-self: end;
      background-color: transparent;
    }

    & .closeButton:hover {
      cursor: pointer;
      color: red;
    }

    & .label {
      width: 100%;
      display: flex;
      flex-direction: column;
      letter-spacing: 1px;
      gap: 1.5px;
      align-self: center;
    }

    & .input {
      padding: 6px 8px;
      border: solid 1px;
      border-radius: 8px;
    }

    & .uploadButton {
      padding: 8px;
      letter-spacing: 1px;
      background-color: white;
      border: 1px solid black;
      border-radius: 8px;
    }

    & .uploadButton:hover{
        cursor: pointer;
        color: green;
        border: 1px solid green;
    }
  }
}
