.container {
  background-color: aquamarine;
  width: 100%;
  height: auto;
  margin: auto;
  border: solid 1px gainsboro;
  border-radius: 8px;
  z-index: 100;

  & .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 3px 5px;
    justify-content: space-between;
    align-items: center;
  }
}
