.listHeader {
  display: none;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(248, 248, 248, 0.996);
  gap: 5px;
  border:3px solid #fff;
  margin: auto;
font-weight: 300;
}

.itemName{
font-style: italic;
font-size: 1.1rem;
font-weight: 400;
}
