.button {
  width: 100%;
  cursor: pointer;
  padding: var(--spacing-sm) var(--spacing-lg);
  border: var(--border-button-regular) solid var(--color-yellow);
  border-radius: var(--border-radius);
  background-color: var(--color-withe);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  letter-spacing: 3px;
}

.button:hover {
  font-style: oblique;
  background-color: var(--color-yellow);
}

.buttonIsActive {
  font-style: oblique;
  font-weight: 100;
}
