.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.select {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--border-radius);
  word-spacing: 3px;
  letter-spacing: 2px;
}
