.container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  
  & .data {
  }

  & .img {
    border-radius: 8px;
    width: 100%;
  }

  & .button {
    cursor: pointer;
    width: 100%;
    margin: 3px 0;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 7px 0;

  }

  & .buttonIsShow {
    font-style: oblique;
    background-color: rgb(244, 249, 194);
    outline: 2px solid rgb(215, 198, 4);
    border-color: rgb(236, 220, 43);
  }
}

.button:hover{

    font-style: oblique;
    background-color: rgb(244, 249, 194);
    outline: 2px solid rgb(215, 198, 4);
    border-color: rgb(236, 220, 43);
}